.post {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  a {
    text-decoration: underline;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  }
  h1 {
    font-size: 2rem;
    margin: 0;
    span {
      white-space: pre;
      display: inline-block;
    }
  }
  .date {
    color: #ddd;
    font-size: 0.8rem;
    font-style: italic;
  }
}
