.container {
  margin: 0 auto;
  max-width: 750px;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  a {
    background-image: linear-gradient(to bottom, transparent 65%, #fdebd3 10%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    -webkit-transition: background-size 0.4s ease;
    -moz-transition: background-size 0.4s ease;
    -ms-transition: background-size 0.4s ease;
    -o-transition: background-size 0.4s ease;
    transition: background-size 0.4s ease;
    color: #000;
  }
  a:hover,
  .active {
    background-size: 100% 100%;
    cursor: pointer;
  }
}

.content {
  flex-grow: 1;
}

// Blog list
ol {
  list-style: none;
  margin: 0;
  h2 {
    margin: 0;
  }
  p {
    color: #999;
    font-style: italic;
    font-size: 0.8rem;
  }
}
